@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v41/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
:root {
  padding: 5vh 5vw;
  background-color: rgb(254, 254, 248);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(center, #7c6f59, transparent);
}
:root::before {
  content: "";
  opacity: 0.8;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  box-sizing: border-box;
  margin: 0;
  height: 120vh;
  overflow: auto;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rack {
  display: flex;
  justify-content: center;
}
.rack .tile {
  margin: 1mm / 2;
  background-color: rgb(245, 207, 144);
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/49914/veneer-birch-texture-fs8.png');
  position: relative;
  width: 19mm;
  height: 19mm;
  box-sizing: border-box;
  box-shadow: 0 1.125mm 0.75mm -0.5mm rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-top-width: 0.75mm;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1.125mm;
  border-top-color: rgba(255, 255, 255, 0.45);
  border-left-color: rgba(255, 255, 255, 0.25);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.75mm;
}
.rack .tile:hover {
  cursor: pointer;
}
.rack .tile[data-letter]::before {
  content: attr(data-letter);
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 13.3mm;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 4px 4px 6px #f5cf90, 0 0 0 rgba(0, 0, 0, 0.7), 1px 2px 1px rgba(255, 255, 255, 0.5);
}
.rack .tile[data-letter]::after {
  color: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
  font-size: 4.275mm;
  position: absolute;
  right: 15%;
  bottom: 15%;
  transform: translate(50%, 50%);
}
.rack .tile[data-letter=' ']::after,
.rack .tile[data-letter='=']::after {
  content: "0";
}
.rack .tile[data-letter='+']::after,
.rack .tile[data-letter='0']::after,
.rack .tile[data-letter='1']::after,
.rack .tile[data-letter='2']::after,
.rack .tile[data-letter='3']::after,
.rack .tile[data-letter='4']::after,
.rack .tile[data-letter='5']::after {
  content: "1";
}
.rack .tile[data-letter='-']::after,
.rack .tile[data-letter='6']::after,
.rack .tile[data-letter='7']::after,
.rack .tile[data-letter='8']::after,
.rack .tile[data-letter='9']::after,
.rack .tile[data-letter='2/2']::after,
.rack .tile[data-letter='3/3']::after,
.rack .tile[data-letter='4/4']::after,
.rack .tile[data-letter='6/6']::after {
  content: "2";
}
.rack .tile[data-letter='×']::after {
  content: "3";
}
.rack .tile[data-letter='1/2']::after {
  content: "4";
}
.rack .tile[data-letter='÷']::after,
.rack .tile[data-letter='5/2']::after,
.rack .tile[data-letter='2/4']::after,
.rack .tile[data-letter='3/6']::after {
  content: "5";
}

.rack .tile[data-letter='1/4']::after,
.rack .tile[data-letter='3/4']::after {
  content: "6";
}

.rack .tile[data-letter='7/4']::after {
  content: "7";
}

.rack .tile[data-letter='1/3']::after,
.rack .tile[data-letter='2/3']::after {
  content: "8";
}

.rack .tile[data-letter='2/6']::after,
.rack .tile[data-letter='4/6']::after {
  content: "9";
}

.rack .tile[data-letter='⅙']::after {
  content: "10";
}

.rack .tile[data-letter='⅚']::after {
  content: "12";
}

.hand {
  margin-top: 12.5mm;
  margin-left: 20mm;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 103.55mm;
  height: 103.55mm;
}

.hand .tile {
  background-color: rgb(245, 207, 144);
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/49914/veneer-birch-texture-fs8.png');
  position: relative;
  width: 9.5mm;
  height: 9.5mm;
  box-sizing: border-box;
  box-shadow: 0 0.5625mm 0.375mm -0.25mm rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-top-width: 0.375mm;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0.5625mm;
  border-top-color: rgba(255, 255, 255, 0.45);
  border-left-color: rgba(255, 255, 255, 0.25);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.375mm;
}
.hand .tile:hover {
  cursor: pointer;
}
.hand .tile[data-letter]::before {
  content: attr(data-letter);
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 6.65mm;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 4px 4px 6px #f5cf90, 0 0 0 rgba(0, 0, 0, 0.7), 1px 2px 1px rgba(255, 255, 255, 0.5);
}
.hand .tile[data-letter]::after {
  color: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
  font-size: 2.1375mm;
  position: absolute;
  right: 15%;
  bottom: 15%;
  transform: translate(50%, 50%);
}
.hand .tile[data-letter=' ']::after,
.hand .tile[data-letter='=']::after {
  content: "0";
}
.hand .tile[data-letter='+']::after,
.hand .tile[data-letter='0']::after,
.hand .tile[data-letter='1']::after,
.hand .tile[data-letter='2']::after,
.hand .tile[data-letter='3']::after,
.hand .tile[data-letter='4']::after,
.hand .tile[data-letter='5']::after {
  content: "1";
}
.hand .tile[data-letter='-']::after,
.hand .tile[data-letter='6']::after,
.hand .tile[data-letter='7']::after,
.hand .tile[data-letter='8']::after,
.hand .tile[data-letter='9']::after,
.hand .tile[data-letter='2/2']::after,
.hand .tile[data-letter='3/3']::after,
.hand .tile[data-letter='4/4']::after,
.hand .tile[data-letter='6/6']::after {
  content: "2";
}
.hand .tile[data-letter='×']::after {
  content: "3";
}
.hand .tile[data-letter='1/2']::after {
  content: "4";
}
.hand .tile[data-letter='÷']::after,
.hand .tile[data-letter='5/2']::after,
.hand .tile[data-letter='2/4']::after,
.hand .tile[data-letter='3/6']::after {
  content: "5";
}

.hand .tile[data-letter='1/4']::after,
.hand .tile[data-letter='3/4']::after {
  content: "6";
}

.hand .tile[data-letter='7/4']::after {
  content: "7";
}

.hand .tile[data-letter='1/3']::after,
.hand .tile[data-letter='2/3']::after {
  content: "8";
}

.hand .tile[data-letter='2/6']::after,
.hand .tile[data-letter='4/6']::after {
  content: "9";
}

.hand .tile[data-letter='1/6']::after {
  content: "10";
}

.hand .tile[data-letter='5/6']::after {
  content: "12";
}

.hand .tile.small-font[data-letter]::before {
  font-size: 0.7em;
}

.hand .tile.small-font[data-letter]::after {
  font-size: 0.7em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);
  background-color: white; /* set the grid background color to white */
  gap: 2px; /* adjust this to create a small white space between cells */
  margin-top: 0;

}

.grid-cell {
  background-color: rgb(108, 108, 213); /* set the cell background color */
  width: 9.5mm; /* adjust the width to match the tile size */
  height: 9.5mm; /* adjust the height to match the tile size */
  border: 2px solid rgb(127, 0, 127); /* add a thin purple border to each cell */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);

}

.grid-cell:hover {
  cursor: pointer;
}

.grid-cell {
  background-color: rgb(108, 108, 213); /* default color */
}

.grid-cell.space-3E {
  background-color: rgb(173, 44, 158);
}

.grid-cell.space-3S {
  background-color: rgb(7, 104, 86);
}

.grid-cell.space-2E {
  background-color: rgb(80, 22, 121); 
}

.grid-cell.space-2S {
  background-color: rgb(44, 60, 178);
}

.board-container {
  position: flex;
}

.grid-tile {
  background-color: #f5cf90;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/49914/veneer-birch-texture-fs8.png');
  position: relative;
  width: 10mm;
  height: 10mm;
  box-sizing: border-box;
  box-shadow: 0 0.5625mm 0.375mm -0.25mm rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-top-width: 0.375mm;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0.5625mm;
  border-top-color: rgba(255, 255, 255, 0.45);
  border-left-color: rgba(255, 255, 255, 0.25);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.375mm;
  cursor: pointer;
}

.grid-tile[data-letter]::before {
  content: attr(data-letter);
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 6.65mm;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 4px 4px 6px #f5cf90, 0 0 0 rgba(0, 0, 0, 0.7), 1px 2px 1px rgba(255, 255, 255, 0.5);
}

.grid-tile.small-font[data-letter]::before {
  font-size: 0.7em;
}

.grid-tile[data-letter]::after {
  color: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
  font-size: 2.1375mm;
  position: absolute;
  right: 15%;
  bottom: 15%;
  transform: translate(50%, 50%);
}

.grid-tile[data-letter=' ']::after,
.grid-tile[data-letter='=']::after {
  content: "0";
}
.grid-tile[data-letter='+']::after,
.grid-tile[data-letter='0']::after,
.grid-tile[data-letter='1']::after,
.grid-tile[data-letter='2']::after,
.grid-tile[data-letter='3']::after,
.grid-tile[data-letter='4']::after,
.grid-tile[data-letter='5']::after {
  content: "1";
}
.grid-tile[data-letter='-']::after,
.grid-tile[data-letter='6']::after,
.grid-tile[data-letter='7']::after,
.grid-tile[data-letter='8']::after,
.grid-tile[data-letter='9']::after,
.grid-tile[data-letter='2/2']::after,
.grid-tile[data-letter='3/3']::after,
.grid-tile[data-letter='4/4']::after,
.grid-tile[data-letter='6/6']::after {
  content: "2";
}
.grid-tile[data-letter='×']::after {
  content: "3";
}
.grid-tile[data-letter='1/2']::after {
  content: "4";
}
.grid-tile[data-letter='÷']::after,
.grid-tile[data-letter='5/2']::after,
.grid-tile[data-letter='2/4']::after,
.grid-tile[data-letter='3/6']::after {
  content: "5";
}

.grid-tile[data-letter='1/4']::after,
.grid-tile[data-letter='3/4']::after {
  content: "6";
}

.grid-tile[data-letter='7/4']::after {
  content: "7";
}

.grid-tile[data-letter='1/3']::after,
.grid-tile[data-letter='2/3']::after {
  content: "8";
}

.grid-tile[data-letter='2/6']::after,
.grid-tile[data-letter='4/6']::after {
  content: "9";
}

.grid-tile[data-letter='1/6']::after {
  content: "10";
}

.grid-tile[data-letter='5/6']::after {
  content: "12";
}

.grid-tile.small-font[data-letter]::before {
  font-size: 0.7em;
}

.grid-tile.small-font[data-letter]::after {
  font-size: 0.7em;
}

.rack .tile[data-letter='='],
.hand .tile[data-letter='='],
.grid-tile[data-letter='='] {
  background-color: #ededed; /* This is a slightly off-white color */
  background-image: none;
}

.hand .tile.used {
  background-color: gray;
  pointer-events: none;
}

.hand .tile.rerolling {
  background-color: green;
  pointer-events: none;
}

.hand-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Add some space above the buttons */
  width: 100%; /* Make the buttons container span the full width of the hand */
}

.hand-button {
  flex: 1;
  margin: 0 5px; /* Add some space between the buttons */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  height: 50px;
}

.hand-button.active {
  background-color: rgb(56, 179, 56);
}


.hand-button:hover {
  cursor: pointer;
}